# ch2_strings

In [1]:
gender = 'M'
print(gender)
type(gender)

M

str

In [2]:
name = 'Mayur'
print(name)
type(name)

Mayur

str

In [4]:
# length of the string
print(len(name))
print(len(gender))

5
1

In [9]:
# character vector
v1 = "python is a nice programming language. it is easy to learn and code."

len(v1)

68

In [8]:
type(v1)

str

In [10]:
# access the vector using the index
v1[0]

'p'

In [11]:
# range of chars
v1[0:10]

'python is '

In [12]:
# concatenate strings (using +)
v1[0:6] + v1[20:25] + v1[50:55]

'pythongrammto le'

In [13]:
# range with skip
v1[::5]

'pnaegiagtetand'

In [14]:
# dynamic strings
rowid = 1
score = 49
name = 'Mayur'

In [15]:
print("Score at rowid 1 is 49") # static
print("Score at rowid {} is {} for {}".format(score,rowid,name))

Score at rowid 1 is 49
Score at rowid 49 is 1 for Mayur

In [ ]:
# print the following output
# there are <> hours, <> minutes and <> seconds in a day

In [ ]:
# change only the value of hours and the rest of the values shd change automatically

In [16]:
hh=1

In [17]:
print("there are {} hours, {} minutes and {} seconds in a day".format(hh,hh*60,hh*60*60))

there are 1 hours, 60 minutes and 3600 seconds in a day

In [18]:
# find a string within a string
s1 = 'the workshop on python was a success. python programming is very easy and the students enjoyed working on the python assignments'

In [19]:
# find the string 'python' in the sentence
word_to_find = 'python'

In [21]:
# check for existence : returns True (if found), False (if not found)
word_to_find in s1

True

In [22]:
'C++' in s1

False

In [23]:
'Python' in s1

False

In [24]:
# number of times a string is appearing in the sentence
s1.count(word_to_find)

3

In [25]:
s1.count("Python")

0

In [26]:
# get the index of the first match of a word/pattern
s1.find(word_to_find)

16

In [ ]:
# get the index of the last match of a word/pattern
s1.rfind(word_to_find)

In [27]:
# check if a sentence starts with a pattern
s1.startswith('program')

False

In [28]:
s1.startswith('the')

True

In [29]:
s1.startswith('t')

True

In [30]:
# check if a sentence ends with a pattern
s1.endswith('assignment')

False

In [31]:
s1.endswith('ts')

True

In [32]:
# substring
s1[10:20]

'op on pyth'

In [33]:
# find and replace
print(s1)

the workshop on python was a success. python programming is very easy and the students enjoyed working on the python assignments

In [34]:
# replace 'python' with 'julia'
# does not alter the actual variable until it is stored
s1.replace('python','julia')

'the workshop on julia was a success. julia programming is very easy and the students enjoyed working on the julia assignments'

In [35]:
s1 = s1.replace('python','julia')
print(s1)

the workshop on julia was a success. julia programming is very easy and the students enjoyed working on the julia assignments

In [ ]:
# import string library
# some other string related functions

In [36]:
# convert to upper case
s2 = 'my python classes'
s2 = s2.upper()
s2

'MY PYTHON CLASSES'

In [37]:
# convert to lower case
s2=s2.lower()
s2

'my python classes'

In [38]:
import string
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '_TemplateMetaclass',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [40]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [41]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [42]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [43]:
string.digits

'0123456789'

In [44]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
# white spaces
'''
" " -> space from spacebar
\t  -> tab
\n  -> new line
\b  -> backspace
'''

In [45]:
# remove spaces from a word
wd = "   program    "
len(wd)

14

In [47]:
# left strip - removes spaces from the left of the word
wd.lstrip()

'program    '

In [48]:
len(wd.lstrip())

11

In [49]:
# right strip - remove spaces from the right of the word
wd.rstrip()

'   program'

In [50]:
len(wd.rstrip())

10

In [51]:
# removes all spaces from the word (right and left)
wd.strip()

'program'

In [53]:
# remove other types of white spaces (tabs/newline/backspace)
s3 = "   the match is in            a very exciting stage \n\n\n where the team needs 10 runs in                \n\n\n 2 overs"

print(s3)

   the match is in            a very exciting stage


 where the team needs 10 runs in


 2 overs

In [54]:
s3.strip()

'the match is in            a very exciting stage \n\n\n where the team needs 10 runs in                \n\n\n 2 overs'

In [55]:
# i) split the sentence into words
    # by default, split() happens on a white-space delimiter
words = s3.split()
words

['the',
 'match',
 'is',
 'in',
 'a',
 'very',
 'exciting',
 'stage',
 'where',
 'the',
 'team',
 'needs',
 '10',
 'runs',
 'in',
 '2',
 'overs']

In [56]:
# ii) join the words into a sentence
s3 =  " ".join(words)

In [57]:
# split and join in a single line
" ".join(s3.split())

'the match is in a very exciting stage where the team needs 10 runs in 2 overs'

In [ ]:
# split at other delimiters
#stid~stname~gender~course~qual~dob~exp~place

In [58]:
rec="123~Seema Kumar~F~Analytics~BTech~8-11-1975~Pune"

In [59]:
# split the record based on the delimiter "~"
rec.split("~")

['123', 'Seema Kumar', 'F', 'Analytics', 'BTech', '8-11-1975', 'Pune']

In [60]:
# replicate a word (use the * operator)
"analysis " * 5

'analysis analysis analysis analysis analysis '

In [61]:
# data type conversion
v1 = 45.79
v2 = "67.1"

In [62]:
# cannot add number and string
v1+v2

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [63]:
# convert v2 to float
v1 + float(v2)

112.88999999999999

In [64]:
# convert to integer
v3 = "100"
int(v3) + v1

145.79

In [ ]:
####################################################################

# class assignments

# 1) create a character vector as follows:

"india is my country. i love my country and proud of its rich and varied heritage. india is the largest peninsula. india is home to some of the best temples. india ranks 7 in the world economy"

'''
1) how many times does the word 'india' occur ?
2) create a variable 
tofind = "IndiA"
The search should return TRUE

3) replace the "i" in india with "I" (first letter only)

4) find the length of the string

5) extract strings from positions 10-20, 40-45 and 60-70
   join them to make a new string

6) check if the following words are present in the string
    country
    continent
    asia
    rank
'''

In [65]:
country="india is my country. i love my country and proud of its rich and varied heristage. india is the largest peninsula. india is home to some of the best temples. india ranks 7 in the world economy"
print(country)

india is my country. i love my country and proud of its rich and varied heristage. india is the largest peninsula. india is home to some of the best temples. india ranks 7 in the world economy

In [66]:
#1) how many times does the word 'india' occur?
country.count("india")

4

In [69]:
#2)create a variable tofind ='India' the search should return TRUE
word_to_find1='India'
word_to_find1 in country

False

In [70]:
#3)replace the "i" in india with "I" (first letter only)
country=country.replace('india','India')
print(country)

India is my country. i love my country and proud of its rich and varied heristage. India is the largest peninsula. India is home to some of the best temples. India ranks 7 in the world economy

In [71]:
#2)create a variable tofind ='India' the search should return TRUE
word_to_find1='India'
word_to_find1 in country

True

In [73]:
#4) find the length of the string
len(country)

192

In [74]:
#5) extract strings from positions 10-20, 40-50 and 60-70 join  them to make  a new string
country[10:20] + country[40:50] + country[60:70]

'y country.nd proud o and varie'

In [75]:
#6)check if the following words are present in the string 
a=' country'
b= 'continent'  
c= 'asia'    
d= 'rank'

In [76]:
a in country

True

In [77]:
b in country

False

In [78]:
c in country

False

In [79]:
d in country

True